{#
/**
 * @file
 * Default theme implementation of a Flexible Address element.
 *
 * Available variables:
 * - recipient_name;
 * - address_line: combines address_line_1~4, used only for fallback;
 * - building_number;
 * - building_name;
 * - street_name;
 * - unit;
 * - floor;
 * - post_office_box;
 * - delivery_point_code;
 * - postal_code;
 * - locality;
 * - region;
 * - country: the name of the Country.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<div class="ewp-flexible-address">
{% if recipient_name %}<span class="efa-recipient-name">{{ recipient_name }}</span><br>{% endif %}
{% if address_line %}<span class="efa-address-line">{% for line in address_line %}{{ line }}<br>{% endfor %}</span>{% endif %}
{% if building_number %}<span class="efa-building-number">{{ building_number }}</span>{% endif %}
{% if building_number and building_name %} - {% endif %}
{% if building_name %}<span class="efa-building-name">{{ building_name }}</span>{% endif %}
{% if building_number or building_name %}<br>{% endif %}
{% if street_name %}<span class="efa-street-name">{{ street_name }}</span><br>{% endif %}
{% if unit %}<span class="efa-unit">{{ 'Unit'|t }}: {{ unit }}</span>{% endif %}
{% if unit and floor %} - {% endif %}
{% if floor %}<span class="efa-floor">{{ 'Floor'|t }}: {{ floor }}</span>{% endif %}
{% if unit or floor %}<br>{% endif %}
{% if post_office_box %}<span class="efa-post-office-box">{{ 'PO box'|t }}: {{ post_office_box }}</span><br>{% endif %}
{% if delivery_point_code %}<span class="efa-delivery-point-code">{{ 'DP code'|t }}: {{ delivery_point_code }}</span><br>{% endif %}
{% if postal_code %}<span class="efa-postal-code">{{ postal_code }}</span>&nbsp;{% endif %}
{% if locality %}<span class="efa-locality">{{ locality }}</span><br>{% endif %}
{% if region %}<span class="efa-region">{{ region }}</span><br>{% endif %}
{% if country %}<span class="efa-country">{{ country }}</span><br>{% endif %}
</div>
